{% extends "emporium/core.html" %}
{% load static %}

{% block content %}
<div class = "row">
    <div class = "col-lg-6 mx-auto">
        <div class = "item-case" id = "register-information-wrapper">
            <form id = "register-information">
                <div id = "user-information">
                    <div class = "form-field">
                        <input required class = "form-control" type = "text" name = "first_name" placeholder = "first name...">
                    </div>

                    <div class = "form-field">
                        <input required class = "form-control" type = "text" name = "last_name" placeholder = "last name...">
                    </div>

                    <div class = "form-field">
                       <input required class = "form-control" type = "text" name = "user_name" placeholder = "user name...">
                    </div>

                    <div class = "form-field">
                        <input required class = "form-control" type = "email" name = "electronic_mail" placeholder = "electronic mail...">
                    </div>
                </div>
                
                <div id = "delivery-information">
                    <hr>
                    <p><strong>delivery form</strong></p>
                    <hr>

                    <div class = "form-field">
                        <input required class = "form-control" type = "text" name = "phone_number" placeholder = "phone number...">
                    </div>

                    <div class = "form-field">
                        <input required class = "form-control" type = "text" name = "purok_name" placeholder = "purok name...">
                    </div>

                    <div class = "form-field">
                        <input required class = "form-control" type = "text" name = "barangay_name" placeholder = "barangay name...">
                    </div>

                    <div class = "form-field">
                        <input required class = "form-control" type = "text" name = "municipality_name" placeholder = "municipality name...">
                    </div>
                </div>

                <hr>
                <input id = "register-information-button" class = "btn btn-success btn-block" type = "submit" value = "continue">
            </form>
        </div>

        <br>
		<div class = "item-case hidden" id = "purchase-information">
            <hr>
			<p><strong>expenditure selection</strong></p>
            <hr>
            
            <input style = "margin-top: 10px" type = "checkbox" name = "expenditure" id = "expenditure" checked required>
            <label style = "margin-left: 10px" for = "expenditure_selection">dispatch the cash through delivery only.</label>

            <input style = "margin-top: 10px" id = "purchase-accord-button" class = "btn btn-success btn-block" type = "submit" value = "purchase">

            <hr>
		</div>
    </div>

    <div class = "col-lg-6 mx-auto">
        <div class = "item-case">
            <a  class = "btn btn-outline-dark" href = "{% url 'basket' %}">&#x2190; return to basket</a>

            <hr>
            <p><strong>orders details</details></strong></p>
            <hr>
            
            {% for item in items %}
            <div class = "basket-row">
                <div style = "flex: 4"><img class = "row-image" src = "{{item.item.image_url}}"></div>

                <div style = "flex: 4"><p>{{item.item.item_name}}</p></div>

                <div style = "flex: 2"><p>₱{{item.item.item_price | floatformat:2}}</p></div>

                <div style = "flex: 2"><p>x{{item.purchase_amount}}</p></div>
            </div>
            {% endfor %}

            <hr>
            <h6><strong>total:</strong> ₱{{purchase.basket_total | floatformat:2}}</h6>
            <hr>
        </div>
    </div>
</div>

<script type = "text/javascript">
    var delivery = "{{purchase.delivery}}"
    var total = "{{purchase.basket_total}}"

    if (delivery == "False") {
        document.getElementById("delivery-information").innerHTML = ""
        
    }

    if (user != "AnonymousUser") {
        document.getElementById("user-information").innerHTML = ""

    }

    if (user == "AnonymousUser") {
        document.getElementById("user-information").innerHTML = ""

    }

    if (delivery == "False" && user != "AnonymousUser") {
        document.getElementById("register-information-wrapper").classList.add("hidden")
        document.getElementById("purchase-information").classList.remove("hidden")

    }

    var formation = document.getElementById("register-information")

    formation.addEventListener("submit", function(e) {
        e.preventDefault()
        console.log("The register information was dispatched just now!")
        document.getElementById("register-information-button").classList.add("hidden")
        document.getElementById("purchase-information").classList.remove("hidden")

        })
    
    document.getElementById("purchase-accord-button").addEventListener("click", function(e){
        submitFormData()


    })

    function submitFormData() {
        console.log("The user purchased via cash through delivery.")

        var userInformationData = {
            "first_name" :null,
            "last_name" :null,
            "user_name" :null,            
            "electronic_mail" :null,
            "total" :total,

        }

        var deliveryInformation = {
            "phone_number" :null,
            "purok_name" :null,
            "barangay_name" :null,
            "municipality_name" :null,

        }

        if(delivery == "True") {
            deliveryInformation.phone_number = formation.phone_number.value
            deliveryInformation.purok_name = formation.purok_name.value
            deliveryInformation.barangay_name = formation.barangay_name.value
            deliveryInformation.municipality_name = formation.municipality_name.value

        }

        if(user == "AnonymousUser") {
            userInformationData.first_name = formation.first_name.value
            userInformationData.last_name = formation.last_name.value
            userInformationData.user_name = formation.user_name.value
            userInformationData.electronic_mail = formation.electronic_mail.value

        }

        var url = "/mechanism/"
        fetch(url, {
            method: "POST",
            headers:{
                "Content-Type" :"application/json",
                "X-CSRFToken" :csrftoken,

            },
            body: JSON.stringify({"formation" :userInformationData, "delivery" :deliveryInformation})

        })
        .then ((response) => response.json())
        .then((information) => {
            console.log("Victory: ", information);
            alert("The purchase completed just now; kindly check your registered electronic mail inbox for further details.");

            basket = {}
            document.cookie = "basket =" + JSON.stringify(basket) + ";domain = ;path = /"
            
            window.location = "{% url 'emporium' %}"

        })
    }
</script>
{% endblock content %}